body {
	background-image: url('../images/distressed_flag_edit.jpg');
	background-size: auto;
	background-repeat: no-repeat;
}

#title {
	font-size: 3em;
	line-height: 12vh;
	margin: 1.5em 0;
}

#startButton {
	height: 90vh;
	width: 100%;
	text-align: center;
	color: white;
	font-family: 'Meddon', cursive;
}

#startButton li {
	float: left;
	height: 90vh;
	width: 33%;
	line-height: 20vh;
}

#startQuiz {
	width: 250px;
	height: 150px;
	border: none;
	border-radius: 10px;
	background-color: #3C070F;
	font-family: 'Meddon', cursive;
	font-size: 2em;
	color: white;
	margin: 0 auto;
}

#quizPaper {
	display:none;
	height: 100vh;
	width: 100%;
	text-align:center;
	overflow: auto;
}

#quizPaper > li{
	float: left;
	height: 100vh;
	line-height: 100vh;
	margin: 0 10px;
}

#quizPaper > li:nth-child(odd) {
	width: 15%;
}

#paper {
	background-image: url('../images/parchment.jpg');
	background-repeat: no-repeat;
	height: 100vh;
	width: 65%;
	margin: 0 auto;
	height: 100vh;
	font-family: 'Meddon', cursive;
}

#quizChoices {
	width:90%;
	text-align: left;
	line-height: 50px;
	margin: 0 auto;
	font-size: 1.2em;
	padding: 0 2em;
}

#actualQuestion {
	font-size: 1.5em;
	text-align: center;
	margin: 1em 0.25em 1em 0;
}

#quizChoices li > input {
	margin-right: 1em;
}

#submitAnswer {
	width: 150px;
	height: 50px;
	border: none;
	border-radius: 5px;
	background-color: #3C070F;
	font-family: 'Meddon', cursive;
	font-size: 1em;
	color: white;
	margin: 10px auto;
}

















